@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #F8FDF9;
}
.link{
    transition: color 0.5s ;
}
.link:hover{
    color: rgba(9, 151, 124, 0.7);
}

.decorate-text{
    background: linear-gradient(to right, #45CE52, #4C729F,#4F45A5);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


/* vertical line */
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}


.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 10px);
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 10px);
}


.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
